@media(max-width: 1025px){
    /* body{
        align-items: flex-start;
    } */

    picture{
        margin: 30px 0;
        height: 100%;
    }

    .image{
        margin: 1px;
    }
}