body{
    font-family: 'Public Sans', sans-serif;
}

picture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    flex-wrap: wrap;
}

.image{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    height: 432px;
    width: 335px;
    position: relative;
}

.image img{
    flex: 0 0 432px;
    max-width: 100%;
    object-fit: cover;
}

.info{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 45px 20px;
}

.info h1{
    font-weight: 700;
    font-size: 30px;
}

.info p{
    font-weight: 300;
    font-size: 17px;
    padding-top: 5px;
}